<div class="image_editor__wrapper">
  <div class="image_editor">
    <section class="header">
      <span>Edit Image</span>
      <span class="img_name">{{imageData?.name}}</span>
      <img src="/assets/close.svg" alt="close" (click)="close()">
    </section>
    <section class="original_new_img__container">
      <div class="img_container">
        <div class="title">Original Image:</div>
        <img [src]="imageData?.image_url" alt="imageData?.name">

      </div>
      <div class="img_container">
        <div class="title">New Image:</div>
        <img *ngIf="newImageSrc" [src]="newImageSrc">
      </div>
    </section>
    <section class="confirmation__container">
      <div class="new_img_chooser">
        <input type="file" name="myFile" accept="image/*" (change)="setImage($event)">
      </div>
      <button class="confirm" (click)="confirmUpdateImage()">Confirm Image</button>
    </section>
  </div>
</div>