<div class="image_editor__wrapper">
    <div class="image_editor">
        <section class="header">
            <span>Edit Image</span>
            <img src="/assets/close.svg" alt="close">
        </section>
        <section class="original_new_img__container">
            <div class="img_container">
                <div class="title">Original Image:</div>
                <img>
                <!-- <span class="img_name">hello</span> -->
            </div>
            <div class="img_container">
                <div class="title">New Image:</div>
                <img>
            </div>
        </section>
        <section class="confirmation__container">
            <div class="new_img_chooser">
                <input type="file" name="myFile" accept="image/*">
            </div>
            <button class="confirm">Confirm Image</button>
        </section>
    </div>
</div>