@import "../../styles/responsive";

$light-blue: #2196f3;

.image_editor__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  border: 0;
  height: 100%;
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.75);

  .image_editor {
    min-width: 50rem;
    width: 50%;
    height: 50%;
    min-height: 38rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mobileMedium {
      min-width: 35rem;
      width: 90%;
      height: 50%;
      min-height: 38rem;
    }

    .header {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem;
      flex: 0.1;
      align-items: center;
      border-bottom: 0.1rem solid rgba($color: #000000, $alpha: 0.15);
      position: relative;
      .img_name {
        position: absolute;
        left: 44%;
        top: 32%;
      }
      span {
        font-size: 2rem;
      }
      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }
    .original_new_img__container {
      flex: 0.6;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      .img_container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding-right: 0.5rem;
        height: 100%;
        align-items: center;

        .title {
          font-size: 1.4rem;
          opacity: 0.7;
        }
        img {
          width: 22rem;
          height: 11rem;
          object-fit: cover;
          margin: 1rem;
          cursor: pointer;
          transition: 0.5s;

          @include mobileMedium {
            width: 16rem;
            height: 10rem;
          }
        }
        .img_name {
          font-size: 1.4rem;
        }
      }
    }
    .confirmation__container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-end;
      flex: 0.3;
      padding: 0 1rem;
      .new_img_chooser {
        margin: 1rem;
        input {
          font-size: 1.4rem;
          border: 0.1rem solid;
          padding: 0.8rem 1rem;
          cursor: pointer;
          outline: none;
        }
      }
      .confirm {
        margin: 1rem;
        border: 0.1rem solid $light-blue;
        color: $light-blue;
        padding: 0.7rem 1.4rem;
        font-size: 1.4rem;
        cursor: pointer;
        transition: 0.5s;
        outline: none;
        &:hover {
          background: $light-blue;
          color: white;
          // border: none;
        }
      }
    }
  }
}
